## {{ ansible_managed }}
includedir /etc/krb5.conf.d/
includedir /var/lib/sss/pubconf/krb5.include.d/
[logging]
 default = FILE:/var/log/krb5libs.log
 kdc = FILE:/var/log/krb5kdc.log
 admin_server = FILE:/var/log/kadmind.log
[libdefaults]
 dns_lookup_realm = false
 ticket_lifetime = 24h
 renew_lifetime = 7d
 forwardable = true
 rdns = false
 {% if ansible_os_family == 'Debian' %}
 default_ccache_name = FILE:/tmp/krb5cc_%{uid}
 ccache_type = 4 
 {% else %}
 default_ccache_name = KEYRING:persistent:%{uid}
 {% endif %}
 default_realm = {{ realm_fqdn.upper() }}
 dns_lookup_kdc = true
 default_tkt_enctypes = aes256-cts-hmac-sha1-96 aes128-cts-hmac-sha1-96 des3-cbc-sha1 arcfour-hmac-md5 camellia256-cts-cmac camellia128-cts-cmac des-cbc-crc des-cbc-md5 des-cbc-md4
[realms]
 {{ realm_fqdn.upper() }} = {
 }
[domain_realm]
 {{ realm_fqdn.lower() }} = {{ realm_fqdn.upper() }}
 .{{ realm_fqdn.lower() }} = {{ realm_fqdn.upper() }}
