## {{ ansible_managed }}
driftfile /var/lib/ntp/ntp.drift

{% for ntp_server in ntp_servers %}
server {{ ntp_server }}
{% endfor %}

# fallback
pool ntp.ubuntu.com

restrict -4 default nomodify notrap nopeer

restrict -4 127.0.0.1
restrict -6 default ignore
restrict ::1