## {{ ansible_managed }}
[global]

workgroup = {{ realm_short.upper() }}
client signing = yes
client use spnego = yes
kerberos method = secrets and keytab
realm = {{ realm_fqdn.lower() }}
security = ads
dedicated keytab file = /etc/krb5.keytab
load printers = No
allow trusted domains = yes
winbind use default domain = yes
winbind refresh tickets = Yes
winbind offline logon = yes
winbind cache time = 60
winbind enum users  = yes
winbind enum groups = yes
winbind nested groups = Yes
winbind normalize names = Yes
winbind nss info = rfc2307
idmap config *:backend = nss
idmap config *:range = 100-999
idmap config {{ realm_short.upper() }} : backend = nss
idmap config {{ realm_short.upper() }} : range = 1000-999999999
template homedir  = /home/%U
template shell    = /bin/bash
username map = /etc/samba/user.map
valid users = {{ '@' + default_allowed_admin_groups| join(', ') }}{% if default_allowed_groups %}, {{ '@' + default_allowed_groups| join(', ') }}{% endif %}{{''}}
