## {{ ansible_managed }}
[sssd]
domains = {{ realm_fqdn.lower() }}
config_file_version = 2
services = nss, pam

[domain/{{ realm_fqdn.lower() }}]
ad_domain = {{ realm_fqdn.lower() }}
krb5_realm = {{ realm_fqdn.upper() }}
realmd_tags = manages-system joined-with-samba
cache_credentials = True
id_provider = ad
default_shell = {{ default_shell }}
ldap_sasl_authid = {{ inventory_hostname_short }}$
ldap_sasl_mech = gssapi
ldap_schema = ad
krb5_store_password_if_offline = False
ldap_id_mapping = False
use_fully_qualified_names = False
fallback_homedir = {{ default_homedir }}
access_provider = simple
simple_allow_groups = {{ default_allowed_admin_groups| join(', ') }}{% if default_allowed_groups %}, {{ default_allowed_groups| join(', ') }}{% endif %}{{''}}
dyndns_update = true
dyndns_refresh_interval = 43200
dyndns_update_ptr = true
dyndns_ttl = 3600
dyndns_iface = {{ ansible_default_ipv4.interface }}
ad_hostname = {{ inventory_hostname_short }}.{{ realm_fqdn.lower() }}
{% if ansible_os_family == 'Debian' %}
krb5_ccname_template=FILE:%d/krb5cc_%U
{% endif %}