## {{ ansible_managed }}
{% set nopasswd = "NOPASSWD: " if sudoer_allow_nopassword | default(false) else "" %}

{% for group in default_allowed_admin_groups %}
%{{ group }} ALL=(ALL) {{ nopasswd }}ALL
{% endfor %}

{% if sudoer_add_default_allowed_groups == true and default_allowed_groups %}
{% for group in default_allowed_groups %}
%{{ group }} ALL=(ALL) {{ nopasswd }}ALL
{% endfor %}
{% endif %}