## {{ ansible_managed }}
[Resolve]
DNS={{ dns_serverip|join(' ') }}{{''}}
#FallbackDNS=
Domains={{ realm_fqdn }} {{ domain_name }}
#LLMNR=no
#MulticastDNS=no
#DNSSEC=no
#Cache=yes
#DNSStubListener=yes
